<!DOCTYPE HTML>
<html>
<head>
<title></title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css"  />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fruveg Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="css/lightbox.css">

</head>
<body class="cbp-spmenu-push">	
<!--banner-->
<div class="header">
	 <div class="container">
		 <!--<div class="social">							-->
				<!--<a href="#"><i class="facebook"></i></a>-->
				<!--<a href="#"><i class="twitter"></i></a>-->
				<!--<a href="#"><i class="dribble"></i></a>	-->
				<!--<a href="#"><i class="google"></i></a>	-->
				<!--<a href="#"><i class="youtube"></i></a>	-->
		 <!--</div>-->
		 <div class="details">
			<ul>
				<!--<li><a href="mailto:@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info(at)example.com</a></li>-->
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+86)183 9187 3236</li>
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>

<div id="home" class="banner">
	 <div id="to-top" class="container">
		 <div class="top-header">
			 <div class="logo">
					<h1><a href="/">溶溶猕猴桃</a></h1>
			 </div>
			 <div class="top-nav">
				 <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
					 <!--<h3>Menu</h3>-->
						<a class="scroll" href="#home">首页</a>
						<a class="scroll" href="#about">关于我们</a>
						<a class="scroll" href="#gallery">产品展示</a>
						<a class="scroll" href="#blog">Blog</a>
						<a class="scroll" href="#testi">产业优势</a>
						<a class="scroll" href="#contact">联系我们</a>
				 </nav>
				 <div class="main buttonset">	
						<!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
							<button id="showRightPush"><img src="images/menu-icon.png" alt=""/></button>
				 </div>
					<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
					<script src="js/classie.js"></script>
						<script>
							var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
							showRightPush = document.getElementById( 'showRightPush' ),
							body = document.body;

							showRightPush.onclick = function() {
								classie.toggle( this, 'active' );
								classie.toggle( body, 'cbp-spmenu-push-toleft' );
								classie.toggle( menuRight, 'cbp-spmenu-open' );
								disableOther( 'showRightPush' );
							};

							function disableOther( button ) {
								if( button !== 'showRightPush' ) {
									classie.toggle( showRightPush, 'disabled' );
								}
							}
						</script>
						<!-- /script-for-menu -->
			 </div>	
			 <div class="clearfix"></div>
		 </div>
		 <div class="banner-info">
			 <h2>Vivamus et massa <span>condimentum efficitur</span> volutpat purus.</h2>
			 <p>Donec accumsan libero quis commodo magna semper.</p>
			 <label></label>
			 <img src="images/bnr2.png" alt=""/>
		 </div>
	 </div>
</div>
<!--about-->
<!--<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>-->
<div id="about" class="about">
	 <div class="container">
		 <h3>关于我们</h3>
		 <div class="about-info">
			 <div class="col-md-6 about-left">
				 <h4>Morbi at tortor sed nibh mattis lacinia sed et felis.</h4>
				 <p>Pellentesque habitant hendrerit ligula. Suspendisse quis velit quis morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
				 Sed a est accumsan, placerat massa non, ullamcorper urna. Quisque sit amet elit sollicitudin,
				 sodales metus eu, hendrerit ligula rhoncus fringilla ligula in lacinia Suspendisse quis velit quis felis elementum iaculis. Maecenas 
				 rhoncus fringilla ligula in lacinia. Proin faucibus pharetra sodales.</p>
				 
			 </div>
			 <div class="col-md-6 about-right">
				 <img src="images/a1.jpg" class="img-responsive" alt=""/>
			 </div>
			 <div class="clearfix"></div>
			 <div class="top-grid-section">
					 <div class="col-md-3 top-grids">
						 <span class="icon1"></span>
						 <h4>绿色肥料</h4>
						 <p>猕猴桃的成长对肥料有很大需求。我们每年会施肥3~5次，以蚯蚓粪有机肥为主，不允许使用化肥（化学合成的投入品）。保证猕猴桃的香甜味美。</p>
					 </div>
					 <div class="col-md-3 top-grids">
						 <span class="icon2"></span>
						 <h4>科学防虫</h4>
						 <p>果园所选用的肥料都是农家肥，会吸引很多的金龟子进入果园，小小的一个诱虫瓶就解决了金龟子的危害，也兼顾了果园的有机养殖。避免杀虫剂的污染。</p>
					 </div>
					 <div class="col-md-3 top-grids">
						 <span class="icon3"></span>
						 <h4>现代种植</h4>
						 <p>套袋能减少尘埃对果面的污染及果实病虫害发生，防治日灼，有效改善果实的外观形象，果面干净变绿。同时也降低贮藏中软化果和腐败果出现的概率。</p>
					 </div>
					 <div class="col-md-3 top-grids">
						 <span class="icon4"></span>
						 <h4>品质优良</h4>
						 <p>优中选优。经过多年实践，我们选种了最适合中国人味蕾的徐香猕猴桃。这一土生土长的品种在1992年获得猕猴桃基地品种鉴评会优良品种奖。</p>
					 </div>
					 <div class="clearfix"></div>
				 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--gallery-->
<div id="gallery" class="gallery">
		<div class="container">
			<h3>Gallery</h3>
			<div class="gallery-bottom">
				<div class="gallery-1">
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g1.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g2.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g3.jpg" alt=""/></a>
					</div>					
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g4.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g5.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g6.jpg" alt=""/></a>
					</div>					
					<div class="clearfix"></div>
				</div>
				<div class="gallery-1">
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g7.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g7.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g8.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g8.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid">
						<a class="example-image-link" href="images/g9.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/g9.jpg" alt=""/></a>
					</div>					
					<div class="clearfix"></div>
				</div>				
		 </div>
	 </div>
</div>	
<script src="js/lightbox-plus-jquery.min.js"></script>
<!---->
<div id="testi" class="testi">
		<div class="container">
			<h3>产业优势</h3>
			<!-- banner-text Slider starts Here -->
			<script src="js/responsiveslides.min.js"></script>
			<script>
				// You can also use "$(window).load(function() {"
					$(function () {
					// Slideshow 3
						$("#slider3").responsiveSlides({
						auto: true,
						pager:true,
						nav:false,
						speed: 500,
						namespace: "callbacks",
						before: function () {
						$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
						}
					});	
				});
			</script>
			<!--//End-slider-script -->
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<p>500米海拔之上，秦岭北麓渭河冲积平原沃土，丰富有机质土壤栽培，太白山纯净雪水灌溉，中国典型优生区，地赋眉县猕猴桃品质基础。
							暖温带大陆性半湿润气候，雨量适中，年均日照时数2000小时，成熟期昼夜温差10度，糖分积累恰到好处，天赐眉县猕猴桃酸甜黄金比。</p>
						<!--<h4>Dynai </h4>-->

					</li>
					<li>					
						<p>依托秦岭野生种质资源优势，引进、培育了一批适应性强、品质优良、风味独特的品种，以徐香为代表的优势品种资源，保证眉县猕猴桃众口皆宜。
							30年栽培经验总结形成了以充分授粉为代表的十大关键生产技术标准体系，与西农大合作建立国家试验站，20余名常驻专家，助力眉县猕猴桃领跑全国。</p>
						<!--<h4>Etiamy </h4>-->
					</li>

					<li>
						<p>建立了质量标准、投入品管控、产地标识管控、安全检测、溯源系统等五大品控体系，每颗果实从果园到餐桌安全有保障，锻造眉县猕猴桃品牌价值。
							维C含量是苹果、葡萄等常见水果的20-100倍，更富含纤维素及17种氨基酸、14种矿物质，营养价值远超20多种常见水果，成就眉县猕猴桃“VC之王”。</p>
						<!--<h4>Sequit </h4>-->
					</li>

				</ul>
			</div>
		</div>
</div>
<!--//slid-->
<div id="blog" class="blog">
	 <div class="container">
		 <h3>Blog</h3>
		 <div class="blog-grids">
			 <div class="col-md-6 blog1">
				 <h4><a href="#">Nulla posuere ipsum at commodo viverra.</a></h4>
				 <p>Cras nec neque sed magna bibendum volutpat. Duis bibendum turpis vehicula purus feugiat eleifend Fusce hendrerit elit vitae massa tincidunt accumsan</p>
				 <span><a href="#">10 Comments</a> | 22 Mar</span>
			 </div>
			 <div class="col-md-6 blog-pic">
				  <a href="#"><img src="images/b2.jpg" class="img-responsive" alt=""/></a>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="blog-grids">			 
			 <div class="col-md-6 blog-pic">
				  <a href="#"><img src="images/b3.jpg" class="img-responsive" alt=""/></a>
			 </div>
			 <div class="col-md-6 blog1 grid2">
				 <h4><a href="#">Curabitur viverra elit a mollis ultricies.</a></h4>
				 <p>Cras nec neque sed magna bibendum volutpat. Duis bibendum turpis vehicula purus feugiat eleifend Fusce hendrerit elit vitae massa tincidunt accumsan</p>
				 <span><a href="#">10 Comments</a> | 22 Mar</span>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="blog-grids">
			 <div class="col-md-6 blog1">
				 <h4><a href="#">Duis viverra orci et dapibus gravida.</a></h4>
				 <p>Cras nec neque sed magna bibendum volutpat. Duis bibendum turpis vehicula purus feugiat eleifend Fusce hendrerit elit vitae massa tincidunt accumsan</p>
				 <span><a href="#">10 Comments</a> | 22 Mar</span>
			 </div>
			 <div class="col-md-6 blog-pic">
				 <a href="#"><img src="images/b1.jpg" class="img-responsive" alt=""/></a>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<!--<div class="map">-->
	 <!--&lt;!&ndash;<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1433744055746" style="border:0"></iframe>&ndash;&gt;-->
<!--</div>-->
<!---->
<div id="contact" class="contact">
	 <div class="container">
		<h3>Contact</h3>
	 <div class="contact-top">
			 <!--<div class="col-md-8 contact-top-right">-->
					<!--<form>-->
						<!--<input type="text" class="text" value="Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Name';}">-->
						<!--<input type="text" class="text" value="Email Address" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email Address';}">-->
						<!--<input type="text" class="text" value="Subject" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}">-->
						<!--<textarea onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Message';}">Message</textarea>-->
						<!--<div class="sub-button">-->
						<!--<input type="submit" value="SEND">-->
						<!--</div>-->
					<!--</form>-->
			 <!--</div>-->
			 <!--<div class="col-md-4 contact-top-left">-->
					<!--<div class="contact-top-one">-->
						<!--<h4>地址:</h4>-->
						<!--<h6>-->
						<!--<span>陕西省 宝鸡市 眉县 营头镇</span>-->
						<!--</h6>-->
					<!--</div>-->
					<!--<div class="contact-top-one">-->
						<!--<h4>电话:</h4>-->
						<!--<p> (+86)183 9187 3236-->
						<!--&lt;!&ndash;<span>FAX: +1 234 567 9871</span>&ndash;&gt;-->
						<!--</p>-->
					<!--</div>-->
					<!--&lt;!&ndash;<div class="contact-top-one">&ndash;&gt;-->
						<!--&lt;!&ndash;<h4>E-mail:</h4>&ndash;&gt;-->
						<!--&lt;!&ndash;<p><a href="mailto:info@example.com">mail@example.com</a></p>&ndash;&gt;-->
					<!--&lt;!&ndash;</div>&ndash;&gt;-->
			 <!--</div>-->
			 <!--<div class="clearfix"> </div>-->
		 <div class="footer-col col-md-4">
			 <div class="contact-top-one">
			 <h4>地址:</h4>
			 <h6>
			 <span>陕西省 宝鸡市 眉县 营头镇</span>
			 </h6>
			 </div>
			 <div class="contact-top-one">
			 <h4>电话:</h4>
			 <p> (+86)183 9187 3236
			 <!--<span>FAX: +1 234 567 9871</span>-->
			 </p>
			 </div>
		 </div>
		 <div class="footer-col col-md-4">
			 <h4>Around the Web</h4>
			 <ul class="list-inline">
				 <li>
					 <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
				 </li>
				 <li>
					 <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
				 </li>
				 <li>
					 <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
				 </li>
				 <li>
					 <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
				 </li>
				 <li>
					 <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
				 </li>
			 </ul>
		 </div>
		 <div class="footer-col col-md-4">
			 <h4>About Vegetable Farm</h4>
			 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		 </div>
		 </div>
	 </div>
</div>
<!---->
<div class="footer">
	 <div class="container">
		 <h3><a href="index.html">Fruveg</a></h3>		 
		 <p>版权所有 &copy; 2018 - 2020.版权归溶溶猕猴桃所有</p>
	 </div>
</div>
<!---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
</body>
</html>